*.exe
*.test
builds/*
!builds/.gitkeep
!builds/windows/
!builds/windows/.gitkeep
!builds/macos/
!builds/macos/.gitkeep
!builds/android/
!builds/android/.gitkeep
data/
ci-assets/
.DS_Store
PakeGUI.exe
PakeGUI-console.exe
pake-gui.exe
builds/
